@media(min-width: 768px) {
    .shoppingCart.collapsed {
        width:200px
    }

    .shoppingCart.collapsed section.stickyHeader {
        display: block
    }
}

.shoppingCart>section.stickyHeader div.itemCount {
    height: 50px;
    background: #55584d;
    width: 100%
}

.shoppingCart>section.stickyHeader div.itemCount svg {
    margin-top: 3px;
    margin-left: 22px
}

.shoppingCart>section.stickyHeader div.itemCount p {
    color: #fdd670;
    margin-top: -2px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    padding-top: 0
}
