
/* download */

#downloadChaldalApp {
    margin: 0;
    padding: 0;
}

#downloadChaldalApp .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0
}

#downloadChaldalApp .wrapper .downloadAppContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp h2 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    max-width: 400px
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp p {
    color: #000;
    font-size: 16px;
    font-weight: 400
}

@media screen and (max-width: 767px) {
    #downloadChaldalApp .wrapper .downloadAppContainer .downloadApp p {
        font-size:12px
    }
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp .iconContainer div {
    margin-right: 10px
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp .iconContainer div svg {
    width: 100px;
    height: 100px
}

#downloadChaldalApp .wrapper .downloadAppContainer .downloadApp .header {
    padding: 10px;
    text-align: center
}

#downloadChaldalApp .wrapper .imageContainer {
    align-self: flex-end;
    position: relative;
    width: 50%;
    margin: -4px;
    padding: 0
}

#downloadChaldalApp .wrapper .imageContainer img {
    width: 100%;
    height: 100%
}

@media screen and (min-width: 1800px) {
    #downloadChaldalApp .wrapper .imageContainer {
        align-self:center;
        position: relative;
        width: 30%
    }
}

@media screen and (max-width: 991px) {
    #downloadChaldalApp.wrapper {
        flex-direction:column
    }

    #downloadChaldalApp .wrapper .imageContainer {
        align-self: center;
        width: 60%
    }

    #downloadChaldalApp .wrapper .downloadAppContainer {
        width: 100%;
        margin-top: 5%
    }

    #downloadChaldalApp .wrapper .downloadAppContainer .downloadApp h2 {
        font-size: 20px
    }
    #downloadChaldalApp .wrapper .downloadAppContainer .downloadApp p {
        font-size: 12px
    }
}