

.m1 {
  height: auto;
  transition: width 0.3s ease;
  background: rgb(255, 255, 255);
  border-right: 2px solid #ccc;
  font-size: 10px;
  font-weight: 200;
  border-right: 1px solid #ccc;
  font-family: sans-serif;
  
}

.Main {
  font-size: 10px;
  font-weight: 200;

  padding-left: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background:#fff;

}

.store-menu {

  display: inline-flex;
  align-items: flex-start;
  padding-right: 0px;
  border-bottom: 1px solid #ccc;
  font-weight: 200;
  padding-bottom: 5px;
  padding-top: 5px;

}

.store-menu Link {
  font-size: 12px;
  font-weight: 200;
  padding-bottom: 5px
}

.store-menu-block {
  display: flex;

}

  .store-item {
  background-color: #fff;
  padding: 6px 5px;
  min-width: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ff686e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border-radius: 5px
}

  .store-item .name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

  .store-item.selected {
  background-color: white;
  color: black
}
.store-item:hover {
  background-color: #ff686e;
  color: white;
  border-radius: 5px;
}
   .store-item:first-of-type {
  margin-right: 5px
}

   .store-item:last-of-type {
  margin-left: 3px
}


.first_menu {
  display: flex;
  justify-content: space-between;
  align-items:center;
  align-self: center;
  padding: 10px;
  margin-left: -10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #eee;
}
.LocalGroceryStoreTwoToneIcon{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.mid_menu {
  padding-left: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  font-weight: 200;
  
}

.mid_menu .L_2 {
  display: block;
}

.mid_menu .L_2 div.name {
  display: inline-block;
  position: relative;
  width: 100%;
}

.L_2_A {
  padding: 5px 0 5px 10px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.1px;
}

.nav-count-label {
  background-color: #ff4a85;
  color: #fff;
  border-radius: 12px;
  padding: 2px 8px;
  margin-left: 10px;
}

.sidebar {
  margin-top: 0px;
  border-bottom: 1px solid #eee;
  background: rgb(255, 255, 255);


}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #000;
}

.unselected {
  color: #555;
}

.topLevel {
  font-size: 14px;
  font-weight: bold;
}

.bottom-misc-menu {
  padding-top: 10px;
  padding-top: 10px;
  margin-top: 4px;
  padding-left: 0px;
  background: rgb(255, 255, 255);

}

.bottom-misc-menu li {
  margin: 5px 0;

}


.bottom-misc-menu a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.MenuItemIcons {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.quick-access-menu {

  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  flex-shrink: 0;
  border: 1px solid #eee;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: auto;
  position: relative;
  font-size: 13px;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.55);
  -webkit-box-shadow: 0 3px 12px 0 rgba(0,0,0,.55);
  -moz-box-shadow: 0 3px 12px 0 rgba(0,0,0,.55);
  clip-path: inset(-10px 0 0 0);}

.quick-access-menu a,
.quick-access-menu .complaint {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quick-access-menu a svg,
.quick-access-menu .complaint svg {
  margin-right: 10px;
}

.quick-access-menu .complaint span {
  cursor: pointer;
}