.bodyTable {
    width: 100%;
    height: inherit;
    margin-top: 67px;
    min-height: 900px;
}


.daily-deals .daily-deals-inner-container .daily-deals-header {
    font-size: 16px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 7%;
    background: linear-gradient(104deg,#89cffd 0,#d8ffdc 100%) no-repeat;
    min-height: 310px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .title {
    text-align: left;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 600;
    color: #0d618a;
    margin-bottom: 5px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-details {
    margin-right: 50px;
    text-align: left
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-details .line {
    font-weight: 500
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-details .timer-container {
    display: flex;
    margin-top: 20px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-details .timer-container .todays-deal {
    font-weight: 700;
    margin-right: 20px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product {
    width: 100%;
    max-width: 450px;
    min-width: 350px;
    min-height: 120px;
    background-color: #fff;
    padding: 10px;
    position: relative;
    border-radius: 12px;
    display: flex
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .product-details {
    margin-top: 5px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .product-details .product-name {
    font-size: clamp(14px,2vw,16px);
    font-weight: 700
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .product-details .subText {
    font-size: clamp(14px,2vw,15px);
    margin-top: 25px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product img {
    height: 100px;
    width: 100px;
    margin-right: 15px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 10px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .amount {
    display: flex;
    align-items: flex-end;
    width: 82px;
    min-width: 82px;
    margin-right: 5px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .amount svg {
    margin: 0 2px 0 4px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .amount section {
    font-weight: 700;
    display: inline;
    font-size: 26px;
    color: #5cbbf9
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .amount section span:first-of-type {
    font-size: 37px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .discount-percent {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    background: linear-gradient(180deg,#f45966 0,#f9745d 100%) no-repeat;
    color: #fff;
    transform: rotate(11deg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .discount-percent span:first-of-type {
    margin-top: 3px;
    font-size: 20px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product .price .discount-percent span:last-of-type {
    margin-top: -5px;
    font-size: 10px
}

.daily-deals .daily-deals-inner-container .daily-deals-header .no-deal-message {
    text-align: left;
    font-family: Quicksand;
    font-size: 18px;
    color: #2e5a70
}

.daily-deals .daily-deals-inner-container .deals-section {
    margin: 20px
}

.daily-deals .daily-deals-inner-container .deals-section .section-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px
}

.daily-deals .daily-deals-inner-container .deals-section .deal-card {
    width: auto;
    max-width: 320px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(107deg,#fca049 0,#ffdd82 100%) no-repeat;
    box-shadow: 0 0 6px rgba(0,0,0,.1)
}

.daily-deals .daily-deals-inner-container .deals-section .deal-card .img {
    max-width: 125px;
    margin-right: 20px;
    margin-bottom: 8px
}

.daily-deals .daily-deals-inner-container .deals-section .deal-card .texts div:first-of-type {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px
}

.daily-deals .daily-deals-inner-container .deals-section .deal-card .texts div:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px
}

.daily-deals .daily-deals-inner-container .deals-section .deal-card .texts div:last-of-type {
    font-size: 12px
}

.daily-deals .daily-deals-inner-container .deals-section .product-card {
    display: flex;
    padding: 15px;
    margin: 10px 10px 10px 0;
    width: 300px;
    max-width: 300px;
    background: no-repeat #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    border-radius: 12px
}

.daily-deals .daily-deals-inner-container .deals-section .product-card img {
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-right: 15px
}

.daily-deals .daily-deals-inner-container .deals-section .product-card .p-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0
}

.daily-deals .daily-deals-inner-container .deals-section .product-card .p-details .p-name {
    font-weight: 700;
    font-size: 13px
}

.daily-deals .daily-deals-inner-container .deals-section .product-card .p-details .p-price-unit {
    display: flex;
    font-size: 12px;
    justify-content: space-between
}

.daily-deals .daily-deals-inner-container .deals-section .product-card .p-details .p-price-unit span:last-of-type {
    font-size: 14px;
    font-weight: 700
}

.daily-deals .daily-deals-inner-container .deals-section .previous-deals {
    display: flex;
    flex-wrap: wrap
}


@media(max-width: 971px) {
    .daily-deals .daily-deals-inner-container .daily-deals-header {
        padding:40px 4%
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .header-body {
        flex-wrap: wrap
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product {
        margin-top: 20px;
        margin-left: auto;
        min-width: 300px
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .deal-details>.timer-container>div:nth-of-type(2) {
        margin-left: auto
    }
}

@media(max-width: 481px) {
    .daily-deals .daily-deals-inner-container .daily-deals-header {
        padding:20px 0 25px 4%
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .title {
        font-size: 28px
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .header-body {
        width: 100%
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-details {
        width: 100%;
        font-size: 14px;
        margin-right: 15px
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .header-body .deal-product {
        border-radius: 12px 0 0 12px
    }

    .daily-deals .daily-deals-inner-container .daily-deals-header .deal-details>.timer-container>div:nth-of-type(2) {
        margin-left: auto
    }
}



.faq-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-outer-container {
    padding: 0 20px 20px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .faq-outer-container {
        flex-flow: row wrap-reverse;
    }
}

.faq-container {
    width: 50%;
    margin-right: 15px;
    margin-top: 10px;
}

@media (max-width: 992px) {
    .faq-container {
        width: 100%;
    }
}
.que{
    background: none;
    border: 1.4px solid #e8e8e8;
    font-weight: 200;
}
.ans{
    background: white;
    border: 1.4px solid #e8e8e8;
    border-radius: 10px;
    color: black;
    padding: 25px 15px 15px 15px;
    font-weight: 400;
}