* {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
    .headerWrapper{
    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 3;
    }
    .headerWrapperWrapper{
        background-color: #fff;
        background-size: cover;
        position: relative;
    }
    .headerWrapperWrapper .top-header {
        padding-right: 50px;
        margin-right: 50px;
        width: 100%;
        height: 55px;
        box-sizing: border-box;
        min-width: 315px;
        background-color: #fff !important;
        color: #0072ce;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        border-bottom: 3px solid #0072ce;
    }.headerWrapperWrapper .top-header .hamburgerMenu {
        border: 0;
        background: 0 0;
        float: left;
        padding: 10px;
        margin-left: 10px;
        height: auto;
        outline: 0;
        border-radius: 2px;
        -webkit-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out
    }
    
    .headerWrapperWrapper .top-header .hamburgerMenu:hover {
        background-color: #e6e6e6
    }
    
    .headerWrapperWrapper .top-header .hamburgerMenu:active {
        box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1)
    }
    img .chaldal_logo {
        background-image: url("https://chaldn.com/asset/Egg.ChaldalWeb.Fabric/Egg.ChaldalWeb1/1.0.0-Deploy-Release-504/Default/components/header/Header/images/logo-banglameds.png?q=low&webp=1&alpha=1");
        width: 165px;
        height: 55px;
        box-sizing: content-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .headerWrapperWrapper .top-header .logo a .chaldal_logo {
        height: 40px;
        background-size: 125px;
    }
    
    
    
    
    
    #city {
        text-decoration: none;
        position: relative;
        margin-right: 10px
      }
      
       #city .metropolitanAreaTooltip {
        height: 30px;
        width: auto;
        white-space: nowrap;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        right: 25px;
        top: 45px;
        z-index: 99;
        border-radius: 3px;
        background-color: #4f4f4f
      }
      
      @media(max-width: 500px) {
       #city .metropolitanAreaTooltip {
            top:45px;
            right: 0
        }
      }
      
       #city .metropolitanAreaTooltip p {
        text-align: center;
        font-size: 10px;
        color: #fff;
        line-height: 30px;
        padding: 0 10px
      }
      
       #city .metropolitanAreaTooltip:after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 10px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #4f4f4f;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent
      }
      
       #city .mismatched-location-tooltip {
        min-height: 30px;
        padding: 10px;
        width: 250px;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        right: -4px;
        top: 60px;
        z-index: 99;
        border-radius: 3px;
        background-color: #4f4f4f;
        opacity: .9
      }
      
       #city .mismatched-location-tooltip p {
        text-align: center;
        font-size: 16px;
        font-weight: 400!important;
        color: #fff;
        padding: 0 10px
      }
      
       #city .mismatched-location-tooltip:after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 10px;
        width: 0;
        height: 0;
        border-bottom: 8px solid #4f4f4f;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent
      }
      
       #city .headerAddressComponent {
        position: absolute;
        right: 0;
        height: auto;
        width: max-content;
        background-color: #fff;
        border-radius: 0 0 12px 12px
      }
      
      @media(max-width: 767px) {
       #city .headerAddressComponent {
            position:fixed;
            top: 50px;
            width: 100%;
            left: 0
        }
      }
      
      @media(max-width: 500px) {
       #city .headerAddressComponent {
            position:fixed;
            top: 50px;
            width: 100%;
            left: 0
        }
      }
      
    
      
       #city .citySelectionArea {
        width: auto;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 10px;
        cursor: pointer;
        background-color:white;
      }
      #city .citySelectionArea:hover {
        background-color: whitesmoke !important;
        transition: 'background-color 0.3s ease'
    
      }
       #city .citySelectionArea .locationMarkerIcon {
        margin-right: 1px
      }
      
       #city .citySelectionArea .locationMarkerIcon svg {
        fill: #615e58
      }
      
       #city .citySelectionArea p {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea p {
            font-size:12px
        }
      }
      
       #city .citySelectionArea .metropolitanAreaName {
        text-align: left;
        padding: 0 10px 0 5px
      }
      
       #city .citySelectionArea .metropolitanAreaName span {
        font-weight: 700;
        color: #ff6f71;
        font-size: 16px;
        display: block
      }
      
       #city .citySelectionArea .metropolitanAreaName span:last-of-type {
        margin-top: -2px
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea .metropolitanAreaName {
            display:block
        }
      
       #city .citySelectionArea .metropolitanAreaName span {
            font-size: 14px
        }
      }
      
       #city .citySelectionArea p:last-of-type {
        margin-left: auto
      }
      
       #city .citySelectionArea p:last-of-type .arrow-down {
        border: solid #ff6f71;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0 0 0 auto
      }
    
     
      
       #city .citySelectionArea:hover {
        background-color: whitesmoke
      }
      
       #city .citySelectionArea:hover .citySelectionChoices {
        position: absolute;
        top: 25px;
        right: -30px;
        display: flex;
        align-items: center
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea:hover .citySelectionChoices {
            right:-30px
        }
      }
      
       #city .citySelectionArea:hover .citySelectionChoices-triangle:after, #city .citySelectionArea:hover .citySelectionChoices-triangle:before {
        display: block
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea:hover .citySelectionChoices-triangle:before {
            right:-1px
        }
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea:hover .citySelectionChoices-triangle:after {
            right:0;
            top: 8.5px
        }
      }
      
      @media(max-width: 767px) {
       #city .citySelectionArea {
            position:fixed;
            left: 50px;
            top: 0
        }
      
       #city .citySelectionArea .locationMarkerIcon {
            margin-right: 0
        }
      }
      
      @media(max-width: 767px) {
       #city {
            position:fixed;
            margin: auto;
            max-width: 90px;
            left: 50px
        }
      }
      
      .address-list {
        height: auto;
        width: 100%;
        padding: 0;
        box-shadow: 0 3px 15px #ccc;
        border-radius: 0 0 12px 12px;
        z-index: 99;
        overflow: hidden;
        background-color: #fff
      }
      
      @media(max-width: 500px) {
        .address-list {
            width:100%
        }
      }
      
      .address-list .topAddressSearchBar .horizontalivider {
        margin-top: 10px;
        border: 0;
        border-top: 1px solid #efefef
      }
      
      .address-list .topAddressSearchBar .currentLocationNotFound {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background-color: #f5f5f5;
        color: #000;
        text-align: center
      }
      
      .address-list .topAddressSearchBar .currentLocationArea {
        text-align: left;
        cursor: pointer
      }
      
      .address-list .topAddressSearchBar .currentLocationArea:hover {
        background-color: #feebec
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .currentLocationText {
        font-size: 12px;
        color: #ff686e;
        position: relative;
        left: 70px;
        margin-bottom: 2px;
        margin-top: 5px
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 10px;
        cursor: pointer
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .tickIconContainer {
        height: auto;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -8px
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .tickIconContainer input[type=radio] {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        appearance: none;
        outline: #ff686e solid 1px
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .tickIconContainer input[type=radio]:checked {
        background-color: #ff686e;
        position: relative;
        appearance: none;
        border: 3px solid #fff;
        outline: #ff686e solid 1px
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .address-details-container {
        width: 260px;
        display: block;
        flex: 1;
        min-width: 0;
        text-align: left
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .address-details-container span {
        text-align: left;
        font-weight: 500
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .address-details-container .area-name {
        display: block;
        font-size: 12px
      }
      
      .address-list .topAddressSearchBar .currentLocationArea .addressSearchContainer .address-details-container .street-address {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 700;
        font-size: 14px;
        color: #000
      }
      
      .address-list .confirmAddressTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 15px 12px 0;
        color: #000;
        text-align: left;
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center
      }
      
      .address-list .confirmAddressTitle .closeButton {
        width: 28px;
        height: 28px;
        position: relative;
        border-radius: 50%;
        border: 0;
        background-color: #fff;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
      }
      
      @media(max-width: 767px) {
        .address-list .confirmAddressTitle .closeButton {
            display:flex
        }
      }
      
      .address-list .confirmAddressTitle .closeButton .after,.address-list .confirmAddressTitle .closeButton .before {
        content: '';
        position: absolute;
        background-color: #444;
        border-radius: 0;
        -webkit-transition: 350ms ease-out;
        -moz-transition: 350ms ease-out;
        -o-transition: 350ms ease-out;
        transition: 350ms ease-out;
        z-index: 0
      }
      
      .address-list .confirmAddressTitle .closeButton .before {
        width: 18px;
        height: 2px;
        top: 13px;
        left: 5px
      }
      
      .address-list .confirmAddressTitle .closeButton .after {
        width: 2px;
        height: 18px;
        left: 13px;
        top: 5px
      }
      
      .address-list .confirmAddressTitle .closeButton:hover {
        background-color: #feebec
      }
      
      .address-list .confirmAddressTitle .closeButton:hover .after,.address-list .confirmAddressTitle .closeButton:hover .before {
        background-color: #ff666b
      }
      
      .address-list .geolocationOffTitle {
        font-weight: 400!important;
        padding: 15px 12px 5px
      }
      
      .address-list .geolocationOffTitle b {
        font-weight: 700!important
      }
      
      .address-list .continueButtonContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex: 1;
        padding: 10px 20px
      }
      
      .address-list .continueButtonContainer button[type=submit] {
        border-color: #eb484b;
        color: #fff;
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5);
        -moz-box-shadow: 0 1px 6px rgba(0,0,0,.5);
        box-shadow: 0 1px 6px rgba(0,0,0,.5);
        text-transform: none;
        flex: 1;
        font-size: 14px;
        border-radius: 12px
      }
      
      .address-list .continueButtonContainer button[type=submit]:disabled {
        color: #828282
      }
      
      .address-list .loggedInStyle svg {
        width: 35px!important;
        height: 35px!important
      }
      
      .address-list .loggedInStyle p {
        font-size: 14px!important;
        color: #ff686e!important;
        font-weight: 700!important
      }
      
      .address-list .useCurrentLocation {
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        cursor: pointer
      }
      
      .address-list .useCurrentLocation:hover {
        background-color: #feebec
      }
      
      .address-list .useCurrentLocation svg {
        margin-right: 10px;
        filter: drop-shadow(0px 3px 6px rgba(0,0,0,.16));
        -webkit-filter: drop-shadow(0px 3px 6px rgba(0,0,0,.16));
        width: 40px;
        height: 40px
      }
      
      .address-list .useCurrentLocation p {
        font-size: 15px;
        color: #1c1c1c;
        font-weight: 500
      }
      
      .address-list .changeCityContainer div {
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        cursor: pointer
      }
      
      .address-list .changeCityContainer div:hover {
        background-color: #feebec
      }
      
      .address-list .changeCityContainer div svg {
        margin-right: 10px;
        filter: drop-shadow(0px 3px 6px rgba(0,0,0,.16));
        -webkit-filter: drop-shadow(0px 3px 6px rgba(0,0,0,.16));
        width: 35px;
        height: 35px
      }
      
      .address-list .changeCityContainer div p {
        font-size: 15px;
        color: #1c1c1c;
        font-weight: 500
      }
      
      .address-list .recentAddressTitle {
        font-size: 14px;
        color: #626262;
        text-align: left;
        padding: 8px 25px
      }
      
      .address-list div>.address {
        display: flex;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 8px 10px;
        color: #615e58;
        cursor: pointer
      }
      
      .address-list div>.address:hover {
        background-color: #feebec
      }
      
      .address-list div>.address .tickIconContainer {
        height: auto;
        width: 50px;
        display: block;
        position: relative;
        top: 5px
      }
      
      .address-list div>.address .tickIconContainer input[type=radio] {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        appearance: none;
        outline: #ff686e solid 1px
      }
      
      .address-list div>.address .address-details-container {
        width: 260px;
        display: block;
        min-width: 0;
        cursor: pointer
      }
      
      .address-list div>.address .address-details-container:hover {
        background-color: #feebec
      }
      
      .address-list div>.address .address-details-container span {
        text-align: left;
        font-weight: 500
      }
      
      .address-list div>.address .address-details-container .area-name {
        display: block;
        font-weight: 700;
        color: #000;
        font-size: 14px
      }
      
      .address-list div>.address .address-details-container .street-address {
        display: block;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
      }
      
      .address-list div>.selectedAddress .tickIconContainer {
        display: block
      }
      
      .address-list div>.selectedAddress .tickIconContainer input[type=radio] {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        appearance: none;
        border: 1px solid #ff686e;
        outline: #ff686e solid 2px;
        background-color: #fff
      }
      
      .address-list div>.selectedAddress .tickIconContainer input[type=radio]:checked {
        background-color: #ff686e;
        position: relative;
        appearance: none;
        border: 3px solid #fff;
        outline: #ff686e solid 1px
      }
      
      .address-list .address-details-container {
        margin-left: 10px
      }
      
      .manage-all-address {
        display: block;
        text-decoration: none;
        text-align: left;
        font-size: 14px;
        font-weight: 500!important;
        padding: 14px 0 14px 65px;
        color: #ff686e;
        width: 100%;
        background-color: #fff;
        border: 0;
        height: 40px!important
      }
      
      .manage-all-address:hover {
        cursor: pointer
      }
      
      .manage-all-address:hover:hover {
        background-color: #feebec
      }
      
      .horizontalivider {
        margin-top: 10px;
        border: 0;
        border-top: 1px solid #efefef
      }
      
      .touchBlocker {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rebeccapurple;
        opacity: 0
      }
      
      @media(max-width: 768px) {
        .touchBlocker {
            opacity: .56;
            background-color: #131213
        }
      }
      
      
    
    .headerWrapperWrapper .localeSwitch2 {
        background-color: #e9e9e9;
        margin-bottom: 16px;
    }
    
    .headerWrapperWrapper .hamburgerMenu svg {
        fill: #0072ce!important
    }
    
    .headerWrapperWrapper .addressSelectionInline2 p:last-of-type .arrow-down,.pharmacy-theme .headerWrapperWrapper .addressSelectionInline2 p:last-of-type .arrow-left,.pharmacy-theme .headerWrapperWrapper .city2 .citySelectionArea p:last-of-type .arrow-down,.pharmacy-theme .headerWrapperWrapper .city2 .citySelectionArea p:last-of-type .arrow-left {
        border: solid #0072ce;
        border-width: 0 2px 2px 0
    }
    
    
    
    .loginArea.authButtons {
        border-left: 0
    }
    
    .headerWrapperWrapper .top-header .loginArea.authButtons button.signInBtn {
        margin: 20px;
        border: 0;
        border-radius: 5px;
        width: 100%;
        background: #0072ce !important;
        border-bottom: 1px solid #0064b5 !important;
        height: 65%;
        color: #fff;
        font-size: 16px;
        font-weight: 200;
        box-shadow: 0 0 10px ;
        -webkit-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out
    }
    
    .headerWrapperWrapper .top-header .loginArea.authButtons button.signInBtn:hover {
        background: #e04f54
    }
    
    .headerWrapperWrapper .top-header .loginArea.authButtons button.signInBtn:active {
        background: #ff6f71;
        font-size: 14px;
        -webkit-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out
    }
    
    @media(max-width: 767px) {
        .headerWrapperWrapper .top-header .loginArea.authButtons button.signInBtn {
            font-size:12px
        }
    }
    
    @media(max-width: 500px) {
        .headerWrapperWrapper .top-header .loginArea.authButtons {
            margin-right:10px;
            width: 130px
        }
    }
    
    @media(max-width: 300px) {
        .headerWrapperWrapper .top-header .loginArea.authButtons {
            margin-right:30px;
            width: 120px
        }
    }
    
    .headerWrapperWrapper .top-header .loginArea.signupArea {
        width: 260px
    }
    
    .headerWrapperWrapper .top-header .loginArea.signupArea.authButtons {
        padding-left: 0
    }
    
    .headerWrapperWrapper .top-header .loginArea.signupArea.authButtons .mui-raised-button {
        margin: 0 5px;
        width: 110px
    }
    
    @media screen and (max-width: 575px) {
        .headerWrapperWrapper .top-header .loginArea.signupArea {
            width:160px
        }
    
        .headerWrapperWrapper .top-header .loginArea.signupArea.authButtons .mui-raised-button {
            width: 70px;
            min-width: 0
        }
    
        .headerWrapperWrapper .top-header .loginArea.signupArea.authButtons .mui-raised-button .mui-raised-button-label {
            font-size: 14px
        }
    }
    
    @media screen and (max-width: 384px) {
        .headerWrapperWrapper .top-header .loginArea.signupArea {
            display:none
        }
    }
    
    .headerWrapperWrapper .top-header .loginArea.loggedIn {
        padding-left: 10px
    }
    
    .headerWrapperWrapper .top-header .loginArea.loggedIn svg {
        fill: #615e58
    }
    
    .headerWrapperWrapper .top-header .loginArea.loggedIn .text {
        float: left;
        width: 120px;
        overflow: hidden;
        max-height: 75%
    }
    
    .headerWrapperWrapper .top-header .loginArea.loggedIn .text p {
        padding-top: 0;
        height: 100%;
        float: left;
        width: 90px;
        margin-left: 10px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 15px;
        text-align: left;
        text-transform: uppercase
    }
    
    .headerWrapperWrapper .top-header .loginArea.loggedIn .text p.multiWords {
        font-size: 12px;
        line-height: 14px
    }
    
    @media(max-width: 700px) {
        .headerWrapperWrapper .top-header .loginArea.authButtons .mui-raised-button .mui-raised-button-label {
            padding:0 5px
        }
    
        .headerWrapperWrapper .top-header .loginArea.loggedIn {
            width: 125px;
            padding-left: 0
        }
    }
    
    @media(max-width: 380px) {
        .headerWrapperWrapper .top-header .loginArea.loggedIn {
            width:80px
        }
    
        .headerWrapperWrapper .top-header .loginArea.loggedIn .text {
            width: inherit
        }
    
    
        .headerWrapperWrapper .top-header .loginArea.loggedIn .text p {
            width: inherit;
            text-overflow: ellipsis;
            overflow: hidden
        }
    
        .headerWrapperWrapper .top-header .loginArea.loggedIn .text p.twoWords {
            font-size: 12px;
            line-height: 14px;
            margin-top: 5px
        }
    }
    