.shoppingCartWrapper {
    width: 320px;
    position:sticky;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    right: 0px;
    z-index: 1000;
    top: 0px;
    height: 1500px !important;
    display: flex !important;
    flex-direction: row;
}

@media(max-width: 767px) {
    .shoppingCartWrapper {
        top:auto;
        right: 0
    }
}
@media(min-width: 768px) {
    .cartContainer {
        left:0;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        -ms-transition: all .2s;
        transition: all .2s
    }
}
.cartContainer .shoppingCartButton {
    cursor: pointer;
    position: absolute;
    left: -16px;
    top: 45%;
    margin: auto;
    height: 70px;
    width: 16px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
    background-color: #b7b7b7;
    border: 1px solid rgba(0,0,0,.1)
}

.cartContainer .shoppingCartButton:hover {
    background-color: #a3a3a3
}

.cartContainer .shoppingCartButton:before {
    content: "";
    width: 15px;
    height: 4px;
    background: #fff;
    display: block;
    position: absolute;
    -ms-transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
    margin-top: 26px
}

.cartContainer .shoppingCartButton:after {
    content: "";
    width: 15px;
    height: 4px;
    background: #fff;
    display: block;
    position: absolute;
    -ms-transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
    margin-top: 38px
}

.cartContainer .fullscreenOverlay {
    position: relative
}

.cartContainer .fullscreenOverlay svg {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -30px 0 0 -30px;
    z-index: 99999999999
}

.cartContainer .fullscreenOverlay::after {
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: fixed;
    background: rgba(201,201,201,.4);
    z-index: 999999999;
    left: 0;
    top: 0
}


.shoppingCart {
    display: flex !important;
    flex-direction: column !important;
    background-color: #fff;
    width: 320px;
    box-sizing: border-box;
    box-shadow: -2px 0 12px 0 rgba(143,143,143,.38);
    padding-top: 47px;
    margin-top: 20px;
}

.shoppingCart .deliveryFeeHeader {
    display: flex;
}




.shoppingCart>.header {
    width: 100% !important;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background-color: #e4e0e1;
    height: 39px;
    box-sizing: border-box;
    padding: 0 0 0 20px
}

.shoppingCart>.header>div {
    height: 100%;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle
}

.shoppingCart>.header div.itemCount {
    text-align: left;
    width: 80px;
    font-weight: 700;
    color: #4f4f4f
}


.shoppingCart>.header div.cart {
    margin-top: 4px;
    width: 30px
}

.shoppingCart>.header div.cart svg {
    margin-top: 4px;
    fill: #4e4e4e!important;
    stroke: #4e4e4e!important
}

.shoppingCart>.header div.total {
    padding-top: 4px;
    font-weight: 700;
    text-align: center
}

.shoppingCart>.header div.total>div {
    padding-left: 5px;
    display: inline-block;
    top: 1px
}

.shoppingCart>.header div.checkoutButton {
    width: 110px;
    text-align: center;
    font-weight: 700;
    vertical-align: top;
    padding-top: 3px
}

.shoppingCart>.header div.checkoutButton button {
    height: 32px;
    padding: 0 5px
}

.shoppingCart>.header div.checkoutButton button span {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: -2px
}

@media(max-width: 767px) {
    .shoppingCart>.header {
        display:table
    }
}

.shoppingCart.collapsed>.header {
    border-bottom-left-radius: 5px
}

.shoppingCart.collapsed>.stickyHeader.bounce {
    animation: bounce .9s ease-in-out
}


.shoppingCart.expanded>.header {
    display: table
}

.shoppingCart.expanded .closeCartButtonTop {
    display: block;
    float: right;
    background: 0 0;
    border: 1px solid #62615f;
    padding: 3px 15px 5px;
    margin-right: 20px;
    margin-top: 5px;
    color: #4f4f4f
}

.shoppingCart.expanded .closeCartButtonTop:hover {
    background: #bdbaba
}

.shoppingCart.expanded .closeCartButtonTop:active {
    background: #8e8c8c;
    color: #fff
}

.shoppingCart.expanded .itemsHeader {
    background-color: #f6f6f6!important;
    height: 39px!important
}

.shoppingCart.expanded .itemsHeader .cartItemsHeaderIcon {
    display: inline-block;
    margin-right: 5px
}

.shoppingCart.expanded .itemsHeader .cartItemsHeaderIcon svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: #4e4e4e
}

.shoppingCart.expanded .itemsHeader span {
    color: #4e4e4e;
    font-weight: 700
}

.discountCodeContainer {
    position: fixed !important;
    bottom: 130px !important;
    width: 100%;
    color: #000;
    background-color: #F7F7F7;
}

.discountCodeContainer .discount-top-content {
    padding-bottom: 5px
}

@media(max-width: 991px) {
    .discountCodeContainer {
        position:fixed;
        left: 0;
        bottom: 50px;
        width: 100%
    }
}

@media(min-width: 768px) {
    .shoppingCart.collapsed {
        width:200px
    }

    .shoppingCart.collapsed section.stickyHeader {
        display: block
    }
}

.shoppingCart div.body {
    background-color: rgba(255, 255, 255, 0.87);
    width: 100%;
    box-sizing: border-box;
    overflow: auto
}

@media(max-width: 767px) {
    .shoppingCart div.body {
        padding-bottom:65px
    }
}

.shoppingCart div.body .discount-section {
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
    color: #039d40;
    border-bottom: 1px solid #ededed
}

.shoppingCart div.body section.itemsHeader {
    height: 30px
}

.shoppingCart div.body section.itemsHeader i {
    color: #fff
}

.shoppingCart div.body section.itemsHeader>i {
    float: left;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 7px
}

.shoppingCart div.body section.itemsHeader>span {
    position: relative;
    float: right;
    font-size: 10px;
    height: 20px;
    border-radius: 3px;
    margin-right: 6px;
    margin-top: 12px;
    opacity: .7
}

.shoppingCart div.body section.itemsHeader>span i {
    font-size: 13px;
    font-weight: 700;
    float: right;
    margin-top: 3px;
    margin-right: 5px
}

.shoppingCart div.body section.itemsHeader.expressHeader,.shoppingCart div.body section.itemsHeader.fifteenMinuteHeader {
    background-color: #f6f6f6
}

.shoppingCart div.body section.itemsHeader.expressHeader>div,.shoppingCart div.body section.itemsHeader.fifteenMinuteHeader>div {
    color: #4e4e4e;
    float: left;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px
}

.shoppingCart div.body section.itemsHeader.couponHeader,.shoppingCart div.body section.itemsHeader.outOfStockHeader,.shoppingCart div.body section.itemsHeader.regularHeader {
    background-color: #f6f6f6
}

.shoppingCart div.body section.itemsHeader.couponHeader>div,.shoppingCart div.body section.itemsHeader.outOfStockHeader>div,.shoppingCart div.body section.itemsHeader.regularHeader>div {
    color: #4e4e4e;
    float: left;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700
}

.shoppingCart div.body section.itemsHeader.outOfStockHeader {
    background-color: #999
}

.shoppingCart div.body section.itemsHeader.couponHeader {
    background-color: #bc3a29;
    text-transform: uppercase;
    font-style: italic
}

.shoppingCart div.body section.itemsHeader.couponHeader>div:after {
    content: '\f145';
    font-family: FontAwesome;
    margin-left: 10px;
    font-style: normal;
    font-size: 1.2em
}

.shoppingCart div.body .outofstockitem {
    opacity: .5
}

 div.footer {
    width: 320px;
    height: 200px !important;
    position: fixed !important;
    background: #fff;
    height: 132px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.3)
}

.shoppingCart div.footer .shoppingtCartActionButtons>span {
    font-size: 11px;
    display: block;
    font-weight: 700
}

.shoppingCart div.footer .closeCartButton {
    height: 50px;
    width: 200px;
    letter-spacing: 2px;
    background: #c4c4c4;
    color: #fff;
    margin-right: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.24);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.24);
    box-shadow: 0 1px 4px rgba(0,0,0,.24)
}

.shoppingCart div.footer .closeCartButton span {
    font-size: 15px
}

.shoppingCart div.footer .mui-raised-button {
    height: 50px;
    width: 200px
}

.shoppingCart div.footer .mui-raised-button .mui-raised-button-container {
    background-color: #ff686e
}

.shoppingCart div.footer .mui-raised-button .mui-raised-button-container:hover {
    background-color: #ff353d
}

.shoppingCart div.footer .mui-raised-button button {
    height: 50px
}

.shoppingCart div.footer .mui-raised-button .mui-raised-button-label {
    font-weight: 700;
    font-size: 20px
}

.shoppingCart div.footer div span.mui-raised-button-label {
    font-size: 18px
}

.shoppingCart .checkoutFooter div.footer,.shoppingCart.empty div.footer {
    padding-top: 12px;
    font-size: 17px;
    color: #aaa;
    font-weight: 700;
    text-align: center
}

@media(max-width: 1001px) {
    .shoppingCart .checkoutFooter div.footer,.shoppingCart.empty div.footer {
        text-align:center
    }
}

.shoppingCart div.emptyCart {
    text-align: center;
    font-size: 17px;
    color: #aaa;
    display: table;
    width: 100%;
    margin-top: 20%;
    overflow: hidden !important;
}

@media(max-width: 767px) {
    .shoppingCart div.emptyCart {
        margin-top:0
    }
}

.shoppingCart div.emptyCart .nothingToSeeHereMoveOn {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box
}

.shoppingCart div.emptyCart .nothingToSeeHereMoveOn span {
    margin-top: 5px;
    padding: 0 5px
}

.shoppingCart div.emptyCart .nothingToSeeHereMoveOn img {
    width: 230px;
    height: 230px;
    margin-top: 30px
}

.shoppingCart div.orderItem {
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear
}

.shoppingCart div.orderItem:first-child {
    padding-top: 5px
}

.shoppingCart div.orderItem:last-child {
    margin-bottom: 0
}

.shoppingCart div.orderItem:hover .caret {
    opacity: .5
}

@media(max-width: 767px) {
    .shoppingCart.responsive {
        box-shadow:none
    }

    .shoppingCart.responsive div.orderItem>div.quantity div.caret {
        width: 37px;
        height: 30px
    }

    .shoppingCart.responsive div.orderItem>div.quantity div.caret svg {
        width: 34px;
        height: 34px
    }

    .shoppingCart.responsive div.orderItem>div.amount .remove svg {
        width: 24px;
        height: 24px
    }

    .shoppingCart.responsive.collapsed .header {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 10px;
        position: relative;
        color: #ff686e;
        background-color: transparent!important
    }

    .shoppingCart.responsive.collapsed .header.theme-grocery,.theme-grocery .shoppingCart.responsive.collapsed .header {
        color: #ff686e
    }

    .shoppingCart.responsive.collapsed .header>div {
        display: block
    }



    .shoppingCart.responsive.collapsed .header .cart {
        width: 30px;
        float: left;
        color: #ff686e;
        margin-top: 0
    }

    .shoppingCart.responsive.collapsed .header .cart svg {
        fill: #ff6f71!important;
        stroke: #ff6f71!important;
        margin-top: 0
    }

    .shoppingCart.responsive.collapsed .header .itemCount,.shoppingCart.responsive.collapsed .header .total {
        font-size: 12px;
        font-weight: 700;
        text-align: right;
        width: 80px;
        float: right;
        padding-right: 10px;
        height: auto
    }

    .shoppingCart.responsive.collapsed .header .itemCount {
        display: inline-block;
        color: #000;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: auto;
        padding: 5px 6px 3px;
        border-radius: 9px;
        line-height: 1em;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
        -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.5)
    }



    .shoppingCart.responsive.collapsed .header .itemCount .count-mobile {
        display: block
    }

    .shoppingCart.responsive.collapsed .header .itemCount.bounce {
        animation: bounce .9s ease-in-out
    }

    .shoppingCart.responsive.collapsed.empty {
        width: 40px
    }

    .shoppingCart.responsive.collapsed.non-empty {
        width: 40px
    }


    .shoppingCart.responsive.expanded {
        width: 100%
    }
}

@media(max-width: 767px) and (max-width:767px) {
    .shoppingCart.responsive.collapsed .header .cart svg {
        fill:#4f4f4f!important;
        stroke: #4f4f4f!important
    }
}

@media(max-width: 767px) and (max-width:767px) {
    .shoppingCart.responsive.collapsed .header .itemCount {
        color:#fff;
        background: #ff6f71;
        margin-left: 23px;
        margin-bottom: 10px;
        padding: 6px 3px 3px;
        opacity: 1;
        font-size: 10px
    }
}

@media(max-width: 900px) {
    .shoppingCart {
        box-shadow:none
    }
}


#shipping-cost-meter.meter-full .costMeterSection .costMeter .progress .bar {
    background-color: #97cd6d!important;
    background-image: -moz-linear-gradient(top,#99ce6f,#97cc6e)!important;
    background-image: -ms-linear-gradient(top,#99ce6f,#97cc6e)!important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#99ce6f,#97cc6e))!important;
    background-image: -webkit-linear-gradient(top,#99ce6f,#97cc6e)!important;
    background-image: -o-linear-gradient(top,#99ce6f,#97cc6e)!important;
    background-image: linear-gradient(top,#99ce6f,#97cc6e)!important
}

#shipping-cost-meter.fifteenMinuteActivated .costMeterSection .costMeter .progress .bar {
    background-color: #735181!important;
    background-image: -moz-linear-gradient(top,#735181,#8c639c)!important;
    background-image: -ms-linear-gradient(top,#735181,#8c639c)!important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#735181,#8c639c))!important;
    background-image: -webkit-linear-gradient(top,#735181,#8c639c)!important;
    background-image: -o-linear-gradient(top,#735181,#8c639c)!important;
    background-image: linear-gradient(top,#735181,#8c639c)!important
}

#shipping-cost-meter .costMeterSection {
    width: 107%;
    float: left
}

#shipping-cost-meter .costMeterSection .infoText {
    text-align: center;
    color: #686868;
    margin-top: -5px;
    margin-right: 10px;
    font-size: 12px
}

#shipping-cost-meter .costMeterSection .costMeter {
    width: 100%
}

#shipping-cost-meter .costMeterSection .costMeter .container {
    width: 100%;
    float: left
}

#shipping-cost-meter .costMeterSection .costMeter .progress {
    position: relative;
    overflow: hidden;
    height: 34px;
    background-color: #7a7879;
    background-image: -moz-linear-gradient(top,#7f7d7e,#757374);
    background-image: -ms-linear-gradient(top,#7f7d7e,#757374);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#7f7d7e,#757374));
    background-image: -webkit-linear-gradient(top,#7f7d7e,#757374);
    background-image: -o-linear-gradient(top,#7f7d7e,#757374);
    background-image: linear-gradient(top,#7f7d7e,#757374);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
}

#shipping-cost-meter .costMeterSection .costMeter .progress .bar {
    height: 35px;
    position: absolute;
    background-color: #ff6d6e;
    background-image: -moz-linear-gradient(top,#ff5d6e,#ff7d6e);
    background-image: -ms-linear-gradient(top,#ff5d6e,#ff7d6e);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff5d6e),to(#ff7d6e));
    background-image: -webkit-linear-gradient(top,#ff5d6e,#ff7d6e);
    background-image: -o-linear-gradient(top,#ff5d6e,#ff7d6e);
    background-image: linear-gradient(top,#ff5d6e,#ff7d6e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf',endColorstr='#0480be',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    -ms-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText {
    background-color: #615e58;
    color: #fff;
    width: 100%;
    line-height: 35px
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextLeft {
    float: left;
    margin-left: 5px;
    width: 65%
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextLeft.banglaLang {
    font-weight: 400
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextLeftForSlotFreeShipping {
    width: 80%
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextRight {
    float: right;
    margin-right: 5px
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextRight .helpIcon {
    display: inline-block;
    width: 27px;
    text-align: center
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextRight .helpIcon svg {
    margin-bottom: 3px
}

#shipping-cost-meter .costMeterSection .costMeter .meterInfoText .InfoTextRight .helpIcon:hover {
    cursor: pointer
}

@media(max-width: 767px) {
    #shipping-cost-meter.isNewNavBarHeader {
        top:99px!important
    }
}

@media(max-width: 1050px) {
    #shipping-cost-meter.at-page,#shipping-cost-meter.in-shopping-cart {
        top:110px
    }
}

@media(max-width: 767px) {
    #shipping-cost-meter.at-page,#shipping-cost-meter.in-shopping-cart {
        top:80px;
        width: 100%;
        right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
}

.shippingCostMeterHelpDialog.mui-dialog {
    padding-top: 120px!important
}

@media(max-width: 320px) {
    .shippingCostMeterHelpDialog.mui-dialog {
        padding-top:60px!important
    }
}

.shippingCostMeterHelpDialog .helpBody {
    text-align: center
}

.shippingCostMeterHelpDialog .helpBody .title {
    color: #e65f63;
    font-size: 17px;
    font-weight: 600;
    width: 85%;
    margin: 0 auto
}

.shippingCostMeterHelpDialog .helpBody .deliveryChargePolicyContainer {
    margin-top: 20px
}

.shippingCostMeterHelpDialog .helpBody .deliveryChargePolicyContainer .policy {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #464646;
    text-align: left
}

.shippingCostMeterHelpDialog .helpBody .closeBtn {
    margin-top: 15px;
    background: #ff6d6d;
    border: none;
    padding: 10px 50px;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.shippingCostMeterHelpDialog .helpBody .userDeliveryChargeDescriptionContainer {
    border: 1.3px solid #bfbab2;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 5px
}

.shippingCostMeterHelpDialog .helpBody .userDeliveryChargeDescriptionContainer .promotionalOfferText {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #000
}

.star-ratings-div .star.hover svg {
    fill: rgba(255,198,112,.57)!important
}

.star-ratings-div .star.selected svg {
    fill: #fdd468
}

.star-ratings-div .star:hover {
    cursor: pointer
}

.star-ratings-div .star.disabled:hover {
    cursor: not-allowed
}

.paymentMethodItem {
    width: 100%;
    font-size: 14px;
    color: #262525;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    position: relative;
    z-index: 2
}

.paymentMethodItem:hover {
    background-color: #f3f3f3
}

.paymentMethodItem:active,.paymentMethodItem:focus {
    outline: 0
}

.paymentMethodItem:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.paymentMethodItem .paymentMethodItemContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    align-items: center;
    flex-direction: row
}

.paymentMethodItem .paymentMethodItemContent span {
    margin-right: auto
}

.paymentMethodItem .paymentMethodItemContent .imageContainer {
    height: 20px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}

.checkoutConfirmComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.checkoutConfirmComponent .inlinePaymentComponent {
    max-width: 600px
}

.checkoutConfirmComponent .inlinePaymentComponent>div {
    padding-bottom: 15px
}

.checkoutConfirmComponent .inlinePaymentComponent h3.error {
    color: #ff524f
}

.checkoutConfirmComponent .inlinePaymentComponent h4 {
    font-size: 20px;
    padding: 20px 0
}

.checkoutConfirmComponent .inlinePaymentComponent h4 b {
    color: #39b87c
}

.checkoutConfirmComponent .inlinePaymentComponent .braintreeCheckout {
    margin: 0 20px
}

.checkoutConfirmComponent .inlinePaymentComponent section.paymentMethods {
    width: 100%
}

.checkoutConfirmComponent .inlinePaymentComponent section.paymentMethods #braintree-dropin-frame {
    z-index: 1!important
}

.checkoutConfirmComponent .inlinePaymentComponent section.paymentMethods .selectedPaymentMethod .braintreePayment,.checkoutConfirmComponent .inlinePaymentComponent section.paymentMethods .selectedPaymentMethod .oldBkashPayment {
    border-color: #ff686e
}

.checkoutConfirmComponent .inlinePaymentComponent section.paymentMethods .brainTree {
    max-width: 300px;
    margin: 0 auto
}

.checkoutConfirmComponent .inlinePaymentComponent .usdTotal {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px
}

.checkoutConfirmComponent .inlinePaymentComponent .usdTotal label {
    font-size: 20px;
    color: #797373
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentProceedBtn {
    margin: 20px auto 0;
    width: 250px;
    padding: 15px;
    border: none;
    outline: 0;
    display: block;
    text-align: center;
    line-height: 16px
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentPendingVerification {
    background: #ffdede!important
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentMessageContainer {
    width: 100%;
    padding: 35px 20px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    background: #e8f0f3
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentMessageContainer .loading {
    position: relative;
    display: block;
    background: 0 0
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentMessageContainer .loading .loader {
    margin: 0 auto 45px
}

@media(max-width: 900px) {
    .checkoutConfirmComponent .inlinePaymentComponent .paymentMessageContainer {
        padding:35px 15px
    }
}

@media(max-width: 425px) {
    .checkoutConfirmComponent .inlinePaymentComponent .paymentMessageContainer {
        padding:35px 10px
    }
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentSuccessContainer {
    background-color: #e0fce3
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentSuccessContainer .paymentSuccess {
    color: #129138
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent {
    display: flex;
    align-items: center
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent img {
    height: 30px;
    margin-right: 5px
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent .walletSuccessMsg {
    color: #585d60;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: left
}

@media(max-width: 900px) {
    .checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent .walletSuccessMsg {
        font-size:16px
    }
}

@media(max-width: 425px) {
    .checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent .walletSuccessMsg {
        font-size:14px
    }
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .leftContent .walletSuccessMsg b {
    color: #0ab972;
    font-weight: 700
}

.checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .rightContent span {
    color: #ff686e;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    padding: 0
}

@media(max-width: 900px) {
    .checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .rightContent span {
        font-size:14px
    }
}

@media(max-width: 425px) {
    .checkoutConfirmComponent .inlinePaymentComponent .walletSuccess .rightContent span {
        font-size:12px
    }
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentSuccess {
    color: #585d60
}

.checkoutConfirmComponent .inlinePaymentComponent .paymentError {
    color: #f44
}

.checkoutConfirmComponent .inlinePaymentComponent .loading {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5)
}

.bkashIframeClass {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999
}
.discountCodeContainer {
    position: absolute;
    bottom: 131px;
    width: 100%;
}
section.discountCodeContainer .discountCodeHeader {
    display: flex !important;
    color: #000;
}

section.discountCodeContainer .discountCodeHeader:hover {
    background: #eee
}

section.discountCodeContainer .discountCodeHeader:active {
    background: #d3d3d3
}

section.discountCodeContainer .discountCodeHeader button.btnDiscount {
    border: 0;
    font-size: 14px;
    height: 30px;
    width: 50%;
    outline: 0;
}

@media(max-width: 1000px) {
    section.discountCodeContainer .discountCodeHeader button.btnDiscount {
        height:40px
    }
}

section.discountCodeContainer .discountCodeHeader button.btnDiscount .arrow-icon {
    border-radius: 10px;
    border: 1px solid #787878;
    padding: 0 3px;
    margin-right: 10px
}

section.discountCodeContainer .discountCodeHeader button.btnDiscount .arrow-up svg {
    transform: rotate(-90deg);
    margin-top: -3px
}

section.discountCodeContainer .discountCodeHeader button.btnDiscount .arrow-down svg {
    transform: rotate(90deg)
}

section.discountCodeContainer .discountCodeHeader button.discountCodeHelp {
    background: 0 0;
    display: flex;
    padding-top: 0!important;
    border: 0;
    outline: 0
}

section.discountCodeContainer .discountCodeHeader button.discountCodeHelp:hover {
    background: #cdcdcd
}

section.discountCodeContainer .discountCodeHeader button.discountCodeHelp:active {
    background: #939393
}

section.discountCodeContainer .discountCodeHeader button.discountCodeHelp:active svg {
    fill: #fff
}

section.discountCodeContainer .discountCodeHeader button.discountCodeHelp svg {
    fill: #787878;
    width: 19px
}



section.discountCodeContainer {
    background-color: #fff
}

section.discountCodeContainer .main-discount-container {
    text-align: center;
    color: #787878;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ededed;
    background: #f7f7f7
}

section.discountCodeContainer .couponAvailableContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    color: #868686;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 4px
}

section.discountCodeContainer .couponAvailableContainer .couponAvailableTextContainer {
    margin: 0 8px;
    color: #0fa50f
}

section.discountCodeContainer .couponAvailableContainer .seeAllTextContainer {
    color: #868686
}

section.discountCodeContainer .couponAvailableContainer .seeAllTextContainer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center
}

section.discountCodeContainer .couponAvailableContainer .seeAllTextContainer a:hover {
    color: #62615f
}

section.discountCodeContainer .couponAvailableContainer .seeAllTextContainer svg {
    color: #868686;
    fill: #868686;
    stroke-width: 1;
    margin-left: 5px
}

section.discountCodeContainer .referralMessageContainer {
    background-color: #99ce6f;
    display: flex;
    flex-direction: row;
    padding: 15px 10px 15px 8px
}

section.discountCodeContainer .referralMessageContainer .referralMessage {
    font-size: 13px;
    color: #fff;
    margin-right: 15px
}

section.discountCodeContainer .referralMessageContainer .closeIconContainer {
    display: flex;
    justify-content: center;
    align-items: center
}

section.discountCodeContainer .referralMessageContainer .closeIconInnerContainer :hover {
    background-color: #fdd670
}

section.discountCodeContainer .warningReferralMessageContainer {
    background-color: #e8c238
}

section.discountCodeContainer .discountCodeHeader {
    display: flex
}

section.discountCodeContainer .discountCodeHeader:hover {
    background: #eee
}

section.discountCodeContainer .discountCodeHeader:active {
    background: #d3d3d3
}

section.discountCodeContainer .discountCodeHeader button.btnDiscount {
    border: 0;
    background: 0 0;
    font-size: 14px;
    height: 30px;
    width: 100%;
    outline: 0
}

@media(max-width: 1000px) {
    section.discountCodeContainer .discountCodeHeader button.btnDiscount {
        height:40px
    }
}


.lekha{
    color:  black !important;
    font-size: larger;
}
.discountCodeContent {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start;
    text-align: center;
    color: #787878;
    align-items: center;
    border-style: solid;
    border-color: #ededed;
    background: #f7f7f7;
}
form {
    display: block !important;
    margin-top: 0em;
    unicode-bidi: isolate;
    width: 100%;
}
input, select, textarea {
    background: #E3E3E3;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border-color: #ededed;
    width: 180px;
    height: 33px;
    border-radius: 5px ;
}
.inputNbtn {
    align-items: center;
    background-color: #f1eded;
    padding-right: 10px;
    padding-left: 10px;
    width: 315px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto auto 10px;
}
.discountSubmitBtn {
    background: #ff686e !important;
    color: #fff;
    font-size: 14px;
    text-transform: none;
    border: none;
    border-radius: 3px;
    line-height: 28px;
    width: 50px;
    float: left;
    margin: 11px 0 0 8px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
section.discountCodeContainer .discountCodeContent .inputNbtn .discountCloseBtn {
    float: left;
    width: 40px;
    padding: 0;
    margin: 16px 0 0 2px;
    border: 0;
    background: 0 0;
    color: #000;
}
#placeOrderButton {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    background: #ff8182;
    border: none;
    color: #fff;
    font-size: 17px;
    line-height: 37px;
    padding: 0;
    -webkit-box-shadow: 0 0 3px #b1aeae;
    -moz-box-shadow: 0 0 3px #b1aeae;
    box-shadow: 0 0 3px #b1aeae;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

@media(min-width: 1000px) {
    #placeOrderButton:hover {
        -webkit-box-shadow:none;
        -moz-box-shadow: none;
        box-shadow: none
    }
}

@media(max-width: 767px) {
    #placeOrderButton .placeOrderText {
        margin-right:115px
    }
}

@media(max-width: 320px) {
    #placeOrderButton .placeOrderText {
        margin-right:0
    }
}
.totalMoneyCount {
    background: #e04f54;
    float: right;
    height: 100%;
    width: 40%;
    margin-right: -5px;
    line-height: 40px;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}